### JSON-файлы. Практическое задание

В этом практическом задании две обязательные и одна дополнительная задачи.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал урока. Если у вас всё получилось, вы можете переходить к следующему уроку.

*Дополнительные задачи* для тех, кто чувствует, что нужно ещё немного потренироваться и порешать задачки по работе с файлами в Pandas.

Удачи!

Цели практического задания:

1. Научиться загружать данные из файлов формата json стандартным стандартными средствами python.
2. Научиться загружать данные из файлов разного формата и в разной кодировке в pandas.
3. Отработать просмотр содержимого файла с помощью методов pandas.

В конце ноутбука вы можете найти ответы для самостоятельной проверки.



---

**Обязательные задачи**

Вы будете работать с частью набора рекламных данных, показывающих, щёлкнул ли конкретный пользователь рекламу на сайте компании или нет.

Описание датасета:
- **Number**: Номер пользователя в системе.
- **Daily Time Spent on Site**: Среднее ежедневное время нахождения пользователя на сайте в минутах.
- **Daily Internet Usage**: Среднее ежедневное время нахождения пользователя в интернете в минутах.
- **Ad Topic Line**: Заголовок рекламного объявления.
- **Clicked on Ad**: Кликнул пользователь на рекламу или нет.


Дан файл df6.json с некоторыми данными для датасета выше.

**Задача 1**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir('/content/drive/MyDrive/SkillBox/Pandas')

In [3]:
ls -l

total 1768
-rw------- 1 root root 578365 Jul 19 14:14 '12.1 Pandas.pdf'
-rw------- 1 root root  84562 Jul 20 14:04  12.1_SkillBox_Pandas.ipynb
-rw------- 1 root root  51339 Jul 20 14:32  12.1_SkillBox_Pandas_Практика.ipynb
drwx------ 2 root root   4096 Jul 20 12:19  12.2.Data/
-rw------- 1 root root  63132 Jul 21 23:02  12.2_Чтение_файлов_в_Pandas_Практика.ipynb
-rw------- 1 root root 214508 Jul 21 22:19  12.2_Чтение_файлов_с_помощью_Pandas.ipynb
-rw------- 1 root root 460387 Jul 20 08:23 '12.2 Чтение файлов с помощью Pandas.pdf'
drwx------ 2 root root   4096 Jul 24 06:29  12.3.Data/
-rw------- 1 root root 310314 Jul 24 06:39  12.3_SkillBox_JSON-файлы.ipynb
-rw------- 1 root root  36495 Jul 24 06:42  12.3_SkillBox_JSON-файлы_Практика.ipynb

1. Загрузите в df6 данные из json-файла и отобразите полный датафрейм. Не забудьте указать верную кодировку, если требуется.

In [4]:
import pandas as pd

In [21]:
# Допишите код
df6 = pd.read_json('12.3.Data/df6.json', encoding = 'cp1251')
df6

,Number,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
0,45,84.98,202.61,Innovative user-facing extranet,0
1,46,64.24,NaN,Front-line intermediate database,0
2,47,82.52,198.11,Persevering exuding system engine,0
3,48,81.38,212.30,Сбалансированное динамическое приложение,0
4,49,80.47,204.86,Сниженная глобальная поддержка,0
5,50,37.68,172.83,Organic leadingedge secured line,1
6,51,69.62,202.25,Business-focused encompassing neural-net,0
7,52,85.40,198.72,Triple-buffered demand-driven alliance,0
8,53,44.33,NaN,Visionary maximized process improvement,1
9,54,48.01,NaN,Centralized 24/7 installation,1
10,55,NaN,196.71,Organized static focus group,0
11,56,79.94,225.29,Visionary reciprocal circuit,0
12,57,33.33,193.58,Pre-emptive value-added workforce,1
13,58,50.33,133.20,Sharable analyzing alliance,1
14,59,62.31,119.30,Team-oriented encompassing portal,1

In [24]:
# df6 = df6.set_index('Number')
# df6

In [22]:
df6.columns

Index(['Number', 'Daily Time Spent on Site', 'Daily Internet Usage',
       'Ad Topic Line', 'Clicked on Ad'],
      dtype='object')

2. Найдите в датафрейме df6 часть датафрейма, соответствующую срезу на изображении ниже, и выведите его на экран сначала с помощью выбора элементов по индексу, а затем с помощью выбора элементов по названию.


<p align="left">
  <img src="https://drive.google.com/uc?id=18Z7NV_toqLOfBZBe18eA-VdUDQqZqdGx" alt="drawing" width="420"/>
</p>

In [23]:
# Ваш код здесь
df6.loc[2:4,['Daily Internet Usage', 'Ad Topic Line']]

   Daily Internet Usage                             Ad Topic Line
2                198.11         Persevering exuding system engine
3                212.30  Сбалансированное динамическое приложение
4                204.86            Сниженная глобальная поддержка

In [27]:
# Ваш код c iloc здесь
df6.iloc[2:5, 2:4]

   Daily Internet Usage                             Ad Topic Line
2                198.11         Persevering exuding system engine
3                212.30  Сбалансированное динамическое приложение
4                204.86            Сниженная глобальная поддержка

In [ ]:
# Ваш код c loc здесь

**Задача 2**

1. Загрузите данные из json-файла в переменную `json_data` стандартными средствами python и выведите на экран. Не забудьте указать верную кодировку, если требуется.

*Подсказка:* Параметр верной кодировки encoding стоит передавать в функцию `open`.

In [28]:
# Ваш код здесь
import json

In [49]:
with open('12.3.Data/df6.json', 'r', encoding = 'cp1251') as file:
  json_data = json.loads(file.read())
json_data

[{'Number': 45,
  'Daily Time Spent on Site': 84.98,
  'Daily Internet Usage': 202.61,
  'Ad Topic Line': 'Innovative user-facing extranet',
  'Clicked on Ad': 0},
 {'Number': 46,
  'Daily Time Spent on Site': 64.24,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Front-line intermediate database',
  'Clicked on Ad': 0},
 {'Number': 47,
  'Daily Time Spent on Site': 82.52,
  'Daily Internet Usage': 198.11,
  'Ad Topic Line': 'Persevering exuding system engine',
  'Clicked on Ad': 0},
 {'Number': 48,
  'Daily Time Spent on Site': 81.38,
  'Daily Internet Usage': 212.3,
  'Ad Topic Line': 'Сбалансированное динамическое приложение',
  'Clicked on Ad': 0},
 {'Number': 49,
  'Daily Time Spent on Site': 80.47,
  'Daily Internet Usage': 204.86,
  'Ad Topic Line': 'Сниженная глобальная поддержка',
  'Clicked on Ad': 0},
 {'Number': 50,
  'Daily Time Spent on Site': 37.68,
  'Daily Internet Usage': 172.83,
  'Ad Topic Line': 'Organic leadingedge secured line',
  'Clicked on Ad': 1},
 {'Number': 51,
  'Daily Time Spent on Site': 69.62,
  'Daily Internet Usage': 202.25,
  'Ad Topic Line': 'Business-focused encompassing neural-net',
  'Clicked on Ad': 0},
 {'Number': 52,
  'Daily Time Spent on Site': 85.4,
  'Daily Internet Usage': 198.72,
  'Ad Topic Line': 'Triple-buffered demand-driven alliance',
  'Clicked on Ad': 0},
 {'Number': 53,
  'Daily Time Spent on Site': 44.33,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Visionary maximized process improvement',
  'Clicked on Ad': 1},
 {'Number': 54,
  'Daily Time Spent on Site': 48.01,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Centralized 24/7 installation',
  'Clicked on Ad': 1},
 {'Number': 55,
  'Daily Time Spent on Site': None,
  'Daily Internet Usage': 196.71,
  'Ad Topic Line': 'Organized static focus group',
  'Clicked on Ad': 0},
 {'Number': 56,
  'Daily Time Spent on Site': 79.94,
  'Daily Internet Usage': 225.29,
  'Ad Topic Line': 'Visionary reciprocal circuit',
  'Clicked on Ad': 0},
 {'Number': 57,
  'Daily Time Spent on Site': 33.33,
  'Daily Internet Usage': 193.58,
  'Ad Topic Line': 'Pre-emptive value-added workforce',
  'Clicked on Ad': 1},
 {'Number': 58,
  'Daily Time Spent on Site': 50.33,
  'Daily Internet Usage': 133.2,
  'Ad Topic Line': 'Sharable analyzing alliance',
  'Clicked on Ad': 1},
 {'Number': 59,
  'Daily Time Spent on Site': 62.31,
  'Daily Internet Usage': 119.3,
  'Ad Topic Line': 'Team-oriented encompassing portal',
  'Clicked on Ad': 1}]

In [46]:
with open('12.3.Data/df6.json', encoding = 'cp1251') as file:
  json_data = json.load(file)
json_data

[{'Number': 45,
  'Daily Time Spent on Site': 84.98,
  'Daily Internet Usage': 202.61,
  'Ad Topic Line': 'Innovative user-facing extranet',
  'Clicked on Ad': 0},
 {'Number': 46,
  'Daily Time Spent on Site': 64.24,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Front-line intermediate database',
  'Clicked on Ad': 0},
 {'Number': 47,
  'Daily Time Spent on Site': 82.52,
  'Daily Internet Usage': 198.11,
  'Ad Topic Line': 'Persevering exuding system engine',
  'Clicked on Ad': 0},
 {'Number': 48,
  'Daily Time Spent on Site': 81.38,
  'Daily Internet Usage': 212.3,
  'Ad Topic Line': 'Сбалансированное динамическое приложение',
  'Clicked on Ad': 0},
 {'Number': 49,
  'Daily Time Spent on Site': 80.47,
  'Daily Internet Usage': 204.86,
  'Ad Topic Line': 'Сниженная глобальная поддержка',
  'Clicked on Ad': 0},
 {'Number': 50,
  'Daily Time Spent on Site': 37.68,
  'Daily Internet Usage': 172.83,
  'Ad Topic Line': 'Organic leadingedge secured line',
  'Clicked on Ad': 1},
 {'Number': 51,
  'Daily Time Spent on Site': 69.62,
  'Daily Internet Usage': 202.25,
  'Ad Topic Line': 'Business-focused encompassing neural-net',
  'Clicked on Ad': 0},
 {'Number': 52,
  'Daily Time Spent on Site': 85.4,
  'Daily Internet Usage': 198.72,
  'Ad Topic Line': 'Triple-buffered demand-driven alliance',
  'Clicked on Ad': 0},
 {'Number': 53,
  'Daily Time Spent on Site': 44.33,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Visionary maximized process improvement',
  'Clicked on Ad': 1},
 {'Number': 54,
  'Daily Time Spent on Site': 48.01,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Centralized 24/7 installation',
  'Clicked on Ad': 1},
 {'Number': 55,
  'Daily Time Spent on Site': None,
  'Daily Internet Usage': 196.71,
  'Ad Topic Line': 'Organized static focus group',
  'Clicked on Ad': 0},
 {'Number': 56,
  'Daily Time Spent on Site': 79.94,
  'Daily Internet Usage': 225.29,
  'Ad Topic Line': 'Visionary reciprocal circuit',
  'Clicked on Ad': 0},
 {'Number': 57,
  'Daily Time Spent on Site': 33.33,
  'Daily Internet Usage': 193.58,
  'Ad Topic Line': 'Pre-emptive value-added workforce',
  'Clicked on Ad': 1},
 {'Number': 58,
  'Daily Time Spent on Site': 50.33,
  'Daily Internet Usage': 133.2,
  'Ad Topic Line': 'Sharable analyzing alliance',
  'Clicked on Ad': 1},
 {'Number': 59,
  'Daily Time Spent on Site': 62.31,
  'Daily Internet Usage': 119.3,
  'Ad Topic Line': 'Team-oriented encompassing portal',
  'Clicked on Ad': 1}]

2. Выведите заголовок рекламного объявления, указанный для третьего пользователя в таблице.

In [32]:
# Ваш код здесь
json_data[2]

{'Number': 47,
 'Daily Time Spent on Site': 82.52,
 'Daily Internet Usage': 198.11,
 'Ad Topic Line': 'Persevering exuding system engine',
 'Clicked on Ad': 0}

**Дополнительные задачи**

**Задача 3**


Вы будете работать с частью набора рекламных данных, которые описывают пользователей, посещающих сайт компании из заданий выше.

Описание датасета:
- **Number**: Номер пользователя в системе.
- **Age**: Возраст пользователя.
- **Male**: Является ли пользователь мужчиной.
- **City**: Город пользователя.
- **Country**: Страна пользователя.
- **Area Income**: Средний доход в месте жительства пользователя.

1. Прочитайте в df7 данные из файла df7.csv, указав верные параметры для корректного отображения.
2. В качестве индекса укажите колонку Number любым из способов.
3. Сохраняя все колонки, выберите строки, Number у которых — 33, 27 и 18, причём в указанном порядке.
4. Самостоятельно потренируйтесь выбирать разные типы срезов на данном датафрейме.

In [37]:
# Ваш код здесь
df7 = pd.read_csv('12.3.Data/df7.csv',header = 1, delimiter = '!')
df7 = df7.set_index('Number')
df7

,Age,Male,City,Country,Area Income
Number,,,,,
16,37.0,1.0,East Theresashire,Burundi,62491.01
17,48.0,1.0,West Katiefurt,Egypt,51636.92
18,24.0,0.0,NaN,Bosnia and Herzegovina,51739.63
19,33.0,0.0,NaN,Barbados,30976.00
20,23.0,NaN,NaN,Spain,52182.23
21,NaN,0.0,West Dylanberg,Palestinian Territory,23936.86
22,41.0,0.0,Pruittmouth,Afghanistan,71511.08
23,36.0,1.0,Jessicastad,British Indian Ocean Territory (Chagos Archipe...,31087.54
24,40.0,1.0,Millertown,Russian Federation,23821.72
25,30.0,1.0,NaN,Cameroon,64802.33
26,35.0,NaN,Lake Nicole,Cameroon,60015.57
27,52.0,0.0,South John,Burundi,32635.70
28,36.0,NaN,Pamelamouth,Korea,61628.72
29,41.0,0.0,Harperborough,Tokelau,68962.32
30,28.0,1.0,Port Danielleberg,Monaco,64828.00
31,NaN,1.0,West Jeremyside,Tuvalu,38067.08
32,52.0,NaN,South Cathyfurt,Greece,58295.82
33,34.0,NaN,Palmerside,British Virgin Islands,32708.94

In [40]:
df7.loc[[33, 27, 18],:]

         Age  Male        City                 Country  Area Income
Number
33      34.0   NaN  Palmerside  British Virgin Islands     32708.94
27      52.0   0.0  South John                 Burundi     32635.70
18      24.0   0.0         NaN  Bosnia and Herzegovina     51739.63



|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

|

**Ответы для самостоятельной проверки**

**Задача 1**

In [ ]:
# 1.1.

df6 = pd.read_json('df6.json', encoding='cp1251')
df6

,Number,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
0,45,84.98,202.61,Innovative user-facing extranet,0
1,46,64.24,NaN,Front-line intermediate database,0
2,47,82.52,198.11,Persevering exuding system engine,0
3,48,81.38,212.30,Сбалансированное динамическое приложение,0
4,49,80.47,204.86,Сниженная глобальная поддержка,0
5,50,37.68,172.83,Organic leadingedge secured line,1
6,51,69.62,202.25,Business-focused encompassing neural-net,0
7,52,85.40,198.72,Triple-buffered demand-driven alliance,0
8,53,44.33,NaN,Visionary maximized process improvement,1
9,54,48.01,NaN,Centralized 24/7 installation,1
10,55,NaN,196.71,Organized static focus group,0
11,56,79.94,225.29,Visionary reciprocal circuit,0
12,57,33.33,193.58,Pre-emptive value-added workforce,1
13,58,50.33,133.20,Sharable analyzing alliance,1
14,59,62.31,119.30,Team-oriented encompassing portal,1

In [ ]:
# 1.2.

df6.iloc[2:5, 2:4]

   Daily Internet Usage                             Ad Topic Line
2                198.11         Persevering exuding system engine
3                212.30  Сбалансированное динамическое приложение
4                204.86            Сниженная глобальная поддержка

In [ ]:
df6.loc[2:4, 'Daily Internet Usage':'Ad Topic Line']

   Daily Internet Usage                             Ad Topic Line
2                198.11         Persevering exuding system engine
3                212.30  Сбалансированное динамическое приложение
4                204.86            Сниженная глобальная поддержка

**Задача 2**

In [43]:
# 2.1.
with open("12.3.Data/df6.json", 'r', encoding = 'cp1251') as j:
     json_data = json.loads(j.read())
json_data

[{'Number': 45,
  'Daily Time Spent on Site': 84.98,
  'Daily Internet Usage': 202.61,
  'Ad Topic Line': 'Innovative user-facing extranet',
  'Clicked on Ad': 0},
 {'Number': 46,
  'Daily Time Spent on Site': 64.24,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Front-line intermediate database',
  'Clicked on Ad': 0},
 {'Number': 47,
  'Daily Time Spent on Site': 82.52,
  'Daily Internet Usage': 198.11,
  'Ad Topic Line': 'Persevering exuding system engine',
  'Clicked on Ad': 0},
 {'Number': 48,
  'Daily Time Spent on Site': 81.38,
  'Daily Internet Usage': 212.3,
  'Ad Topic Line': 'Сбалансированное динамическое приложение',
  'Clicked on Ad': 0},
 {'Number': 49,
  'Daily Time Spent on Site': 80.47,
  'Daily Internet Usage': 204.86,
  'Ad Topic Line': 'Сниженная глобальная поддержка',
  'Clicked on Ad': 0},
 {'Number': 50,
  'Daily Time Spent on Site': 37.68,
  'Daily Internet Usage': 172.83,
  'Ad Topic Line': 'Organic leadingedge secured line',
  'Clicked on Ad': 1},
 {'Number': 51,
  'Daily Time Spent on Site': 69.62,
  'Daily Internet Usage': 202.25,
  'Ad Topic Line': 'Business-focused encompassing neural-net',
  'Clicked on Ad': 0},
 {'Number': 52,
  'Daily Time Spent on Site': 85.4,
  'Daily Internet Usage': 198.72,
  'Ad Topic Line': 'Triple-buffered demand-driven alliance',
  'Clicked on Ad': 0},
 {'Number': 53,
  'Daily Time Spent on Site': 44.33,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Visionary maximized process improvement',
  'Clicked on Ad': 1},
 {'Number': 54,
  'Daily Time Spent on Site': 48.01,
  'Daily Internet Usage': None,
  'Ad Topic Line': 'Centralized 24/7 installation',
  'Clicked on Ad': 1},
 {'Number': 55,
  'Daily Time Spent on Site': None,
  'Daily Internet Usage': 196.71,
  'Ad Topic Line': 'Organized static focus group',
  'Clicked on Ad': 0},
 {'Number': 56,
  'Daily Time Spent on Site': 79.94,
  'Daily Internet Usage': 225.29,
  'Ad Topic Line': 'Visionary reciprocal circuit',
  'Clicked on Ad': 0},
 {'Number': 57,
  'Daily Time Spent on Site': 33.33,
  'Daily Internet Usage': 193.58,
  'Ad Topic Line': 'Pre-emptive value-added workforce',
  'Clicked on Ad': 1},
 {'Number': 58,
  'Daily Time Spent on Site': 50.33,
  'Daily Internet Usage': 133.2,
  'Ad Topic Line': 'Sharable analyzing alliance',
  'Clicked on Ad': 1},
 {'Number': 59,
  'Daily Time Spent on Site': 62.31,
  'Daily Internet Usage': 119.3,
  'Ad Topic Line': 'Team-oriented encompassing portal',
  'Clicked on Ad': 1}]

In [ ]:
# 2.2.
json_data[2]['Ad Topic Line']

**Задача 3**

1. Прочитайте в df7 данные из файла "df7.csv", указав верные параметры для корректного отображения.
2. В качестве индекса укажите колонку Number любым из способов.
3. Сохраняя все колонки, выберете строки, Number у которых равен 33, 27 и 18, причем в указанном порядке.
4. Самостоятельно потренируйтесь выбирать разные типы срезов на данном датафрейме.

In [ ]:
# 1-2, вариант 1

df7 = pd.read_csv('df7.csv', sep='!', header=1, index_col='Number')
df7

,Age,Male,City,Country,Area Income
Number,,,,,
16,37.0,1.0,East Theresashire,Burundi,62491.01
17,48.0,1.0,West Katiefurt,Egypt,51636.92
18,24.0,0.0,NaN,Bosnia and Herzegovina,51739.63
19,33.0,0.0,NaN,Barbados,30976.00
20,23.0,NaN,NaN,Spain,52182.23
21,NaN,0.0,West Dylanberg,Palestinian Territory,23936.86
22,41.0,0.0,Pruittmouth,Afghanistan,71511.08
23,36.0,1.0,Jessicastad,British Indian Ocean Territory (Chagos Archipe...,31087.54
24,40.0,1.0,Millertown,Russian Federation,23821.72
25,30.0,1.0,NaN,Cameroon,64802.33
26,35.0,NaN,Lake Nicole,Cameroon,60015.57
27,52.0,0.0,South John,Burundi,32635.70
28,36.0,NaN,Pamelamouth,Korea,61628.72
29,41.0,0.0,Harperborough,Tokelau,68962.32
30,28.0,1.0,Port Danielleberg,Monaco,64828.00
31,NaN,1.0,West Jeremyside,Tuvalu,38067.08
32,52.0,NaN,South Cathyfurt,Greece,58295.82
33,34.0,NaN,Palmerside,British Virgin Islands,32708.94

In [ ]:
# # 1-2, вариант 2

df7 = pd.read_csv('df7.csv', sep='!', header=1)
df7 = df7.set_index('Number')
df7

,Age,Male,City,Country,Area Income
Number,,,,,
16,37.0,1.0,East Theresashire,Burundi,62491.01
17,48.0,1.0,West Katiefurt,Egypt,51636.92
18,24.0,0.0,NaN,Bosnia and Herzegovina,51739.63
19,33.0,0.0,NaN,Barbados,30976.00
20,23.0,NaN,NaN,Spain,52182.23
21,NaN,0.0,West Dylanberg,Palestinian Territory,23936.86
22,41.0,0.0,Pruittmouth,Afghanistan,71511.08
23,36.0,1.0,Jessicastad,British Indian Ocean Territory (Chagos Archipe...,31087.54
24,40.0,1.0,Millertown,Russian Federation,23821.72
25,30.0,1.0,NaN,Cameroon,64802.33
26,35.0,NaN,Lake Nicole,Cameroon,60015.57
27,52.0,0.0,South John,Burundi,32635.70
28,36.0,NaN,Pamelamouth,Korea,61628.72
29,41.0,0.0,Harperborough,Tokelau,68962.32
30,28.0,1.0,Port Danielleberg,Monaco,64828.00
31,NaN,1.0,West Jeremyside,Tuvalu,38067.08
32,52.0,NaN,South Cathyfurt,Greece,58295.82
33,34.0,NaN,Palmerside,British Virgin Islands,32708.94

In [ ]:
# 3.

df7.loc[[33, 27, 18], :]

         Age  Male        City                 Country  Area Income
Number
33      34.0   NaN  Palmerside  British Virgin Islands     32708.94
27      52.0   0.0  South John                 Burundi     32635.70
18      24.0   0.0         NaN  Bosnia and Herzegovina     51739.63