# Модуль 8. Алгоритмы и структуры данных

## Практика по спискам

### **Задача 1**
Создайте список `list1`, который состоит из пяти элементов: `2`, `7`, `19`, `0` и `8`.

In [ ]:
list1 = # ваш код здесь

Напечатайте на экране длину списка `list1`.

In [ ]:
# Ваш код здесь.

Выведите на экран сумму первого и последнего элементов списка `list1`.

In [ ]:
# Ваш код здесь.

Добавьте в конец списка `list1` два элемента: `-1` и `4`.

In [ ]:
# Ваш код здесь.

Замените `четвёртый` элемент этого списка на значение `3`.

In [ ]:
# Ваш код здесь.

Напишите код, который вычисляет сумму всех элементов полученного списка и выводит её на экран.

In [ ]:
# Ваш код здесь.

---

### **Задача 2**

Дан список `list2`, который содержит целые числа. 

Превратите список `list2` в список квадратов этих чисел. Другими словами, замените значение каждого элемента списка `list2` на квадрат этого значения. 

Напечатайте полученный список на экране.

In [ ]:
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ваш код здесь.

---

### **Задача 3**

Даны два списка `list31` и `list32`. Первый список пуст, а второй содержит целые числа. 

Напишите код, который заполнит пустой список `list31` **неотрицательными (>=0)** элементами списка `list32`. Напечатайте список `list31` на экране. 

*Подсказка*: функцию `append` можно вызывать на пустом списке.

In [ ]:
list31 = []
list32 = [9, -1, 8, 0, 15, -67, 23, 42, -19, -2]

# Ваш код здесь.

---

### **Задача 4**

Дан список `list4`, содержащий целые `неотрицательные` числа. Найдите среди них максимальное. Напечатайте его на экране.

In [ ]:
list4 = [8, 3, 17, 42, 7, 18, 904, 6, 12, 1024, 5, 39]

# Ваш код здесь.

---
##Решения

### **Задача 1**

In [ ]:
### Создайте список list1, который состоит из пяти элементов: 2, 7, 19, 0 и 8.
list1 = [2, 7, 19, 0, 8]

### Напечатайте на экране длину списка list1.
print(len(list1)) 

### Выведите на экран сумму первого и последнего элементов списка list1.
print(list1[0] + list1[len(list1)-1]) # или print(list1[0] + list1[-1])

### Добавьте в конец списка list1 два элемента: -1 и 4.
list1.append(-1)
list1.append(4)

### Замените четвёртый элемент этого списка на значение 3.
list1[3] = 3

### Напишите код, который вычисляет сумму всех элементов полученного списка и выводит её на экран.

# Вариант 1
i = 0
res = 0
while i < len(list1):
    res += list1[i]
    i += 1

print(res)    
    
# Вариант 2
res = 0
for i in range(len(list1)):
    res += list1[i]
    
print(res)
    
# Вариант 3 (со звёздочкой)
print(sum(list1))

5
10
42
42
42

---

### **Задача 2**

In [ ]:
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(list2)):
    list2[i] = list2[i]*list2[i]
    
print(list2)


### Альтернативное решение:

# В Python есть операция **, которая возводит число в заданную степень. 
# Например, x в квадрате можно записать как x**2. Поэтому:
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(list2)):
    list2[i] = list2[i]**2
    
print(list2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

---

### **Задача 3**

In [ ]:
list31 = []
list32 = [9, -1, 8, 0, 15, -67, 23, 42, -19, -2]

for i in range(len(list32)):
    if list32[i] >= 0:
        list31.append(list32[i])
        
print(list31)

[9, 8, 0, 15, 23, 42]

---

### **Задача 4**

In [ ]:
list4 = [8, 3, 17, 42, 7, 18, 904, 6, 12, 1024, 5, 39]

# В условии задачи сказано, что числа целые неотрицательные.
# Минимальное среди целых неотрицательных чисел — это ноль.
res = 0

for i in range(len(list4)):
    # Если текущий элемент списка больше,
    # чем предыдущий «максимум»
    if list4[i] > res:
        # то обновляем этот «максимум»
        res = list4[i]

print(res)

1024